/*#HTLM5 {
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}*/

#slideshow {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#slideshow {
    background-image: url(../images/bg.jpg);
    
    transition: background-image 3s ease-in-out;
}
  
#main {
      z-index: 1;
      height: 100%;
      width: 100%;
      position: fixed;
      overflow: auto;
      top: 0px;
      left: 0px;
      
     /* background:
      linear-gradient(
        rgba(26, 26, 26, 0.45), 
        rgba(26, 26, 26, 0.45)
      )*/
        background: rgba(61,61,61,0.2);
        background: -moz-radial-gradient(center, ellipse cover, rgba(61,61,61,0.3) 0%, rgba(71,71,71,0.39) 13%, rgba(56,56,56,0.55) 35%, rgba(33,33,33,0.65) 50%, rgba(33,33,33,0.85) 78%, rgba(23,23,23,0.94) 91%, rgba(15,15,15,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(61,61,61,0.3)), color-stop(13%, rgba(71,71,71,0.39)), color-stop(35%, rgba(56,56,56,0.55)), color-stop(50%, rgba(33,33,33,0.65)), color-stop(78%, rgba(33,33,33,0.85)), color-stop(91%, rgba(23,23,23,0.94)), color-stop(100%, rgba(15,15,15,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(61,61,61,0.3) 0%, rgba(71,71,71,0.39) 13%, rgba(56,56,56,0.55) 35%, rgba(33,33,33,0.65) 50%, rgba(33,33,33,0.85) 78%, rgba(23,23,23,0.94) 91%, rgba(15,15,15,1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(61,61,61,0.3) 0%, rgba(71,71,71,0.39) 13%, rgba(56,56,56,0.55) 35%, rgba(33,33,33,0.65) 50%, rgba(33,33,33,0.85) 78%, rgba(23,23,23,0.94) 91%, rgba(15,15,15,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(61,61,61,0.3) 0%, rgba(71,71,71,0.39) 13%, rgba(56,56,56,0.55) 35%, rgba(33,33,33,0.65) 50%, rgba(33,33,33,0.85) 78%, rgba(23,23,23,0.94) 91%, rgba(15,15,15,1) 100%);
        background: radial-gradient(ellipse at center, rgba(61,61,61,0.3) 0%, rgba(71,71,71,0.39) 13%, rgba(56,56,56,0.55) 35%, rgba(33,33,33,0.65) 50%, rgba(33,33,33,0.85) 78%, rgba(23,23,23,0.94) 91%, rgba(15,15,15,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#0f0f0f', GradientType=1 );
      /*background: rgba(26, 26, 26, 0.45); /*can be anything, of course*/
      /* 
      box-shadow: inset 0px 0px 700px 200px rgba(26, 26, 26, 0.75);
      -moz-box-shadow: inset 0px 0px 700px 200px rgba(26, 26, 26, 0.75);
      -webkit-box-shadow: inset 0px 0px 700px 200px rgba(26, 26, 26, 0.75);*/
}

#top {
    width: 100%;
    height: 160px;
    
    background-color: black;
    opacity: 0.65;
    z-index: 2;
}

#topmenu {
    vertical-align: middle;
    margin-top: 100px;
    text-align: center;
    position: absolute;
    width: 100%;
    
    z-index: 10;
}

#navlist li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;

    
    letter-spacing: 2pt;
    word-spacing: 3pt;
    font-size: 10pt;
    font-family: arial black, sans-serif;
    font-style: normal;
    z-index: 50;
    text-shadow:5px 5px 7px rgba(0,0,0,1);
    -weight:normal;color:#FFFFFF;
    
    opacity: 1;
}

#footer {
    /*width: 100%;*/
    height: 50px;
    vertical-align: bottom;
    background-color: black;
    opacity: 0.65;
    
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: white;
    letter-spacing: 2pt;
    word-spacing: 3pt;
    font-size: 8pt;
    font-family: Verdana, arial black, sans-serif;
    font-style: normal;
}

#content {
    height: calc(100%-320px);
    
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    text-shadow:5px 5px 7px rgba(0,0,0,0.8);
    -weight:normal;color:#FFFFFF;
    letter-spacing:2pt;
    word-spacing:3pt;
    font-size:29px;
    font-family: arial black, sans-serif;
    line-height:1;
}

.project {
    font-family: ADAMCG-PRO;
    src: url("./fonts/ADAMCG-PRO.otf");
}

a:link, a:visited{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
   color: #cccccc;
   text-decoration: none;
   target-new: none;
    
}

h1 {
    font-family: Fabrica;
    src: "./fonts/Fabrica.otf";
    opacity: 0.95;
}

p {
    font-family: Stellar-Bold;
    src: "./fonts/Stellar-Bold.otf";
    opacity: 1;
}

#blogtext {
    font-family: sans-serif;
    font-size: 12pt;
    text-shadow: -1px -1px 30px rgba(150, 150, 150, 1);
}

#current {
    border-bottom: 4px solid #FFFFFF;
    border-bottom-style: dotted;
}
#email_icon {
	filter: invert(100%);
    display: block;
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
    margin-left:auto;
    margin-right:auto;
}

#gmail {
    filter: invert(0%);
    display: block;
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
    margin-left:auto;
    margin-right:auto;
}

#container2 {
    background-image: url(../images/bg2.jpg);
    opacity: 0;
}

#container3 {
    background-image: url(../images/bg3.jpg);
    opacity: 0;
}

#container4 {
    background-image: url(../images/bg4.jpg);
    opacity: 0;
}

#container5 {
    background-image: url(../images/bg5.jpg);
    opacity: 0;
}